setuptools
docker
influxdb
SQLAlchemy
cryptography
arrow
DateTime
mariadb
praw
selenium
psutil
undetected-chromedriver
requests
google-api-python-client
protobuf
google-auth-oauthlib
pyshorteners
python-dateutil
pandas
gnupg
plotly
yfinance